[submodule "themes/matomo"]
	path = themes/matomo
	url = https://github.com/holehan/hugo-components-matomo.git
[submodule "data/comments"]
	path = data/comments
	url = https://github.com/ko-suta/Academic-Website.git
